@use "../../abstracts/variables" as *;
@use "../../base/typography" as *;

.animation {
  &__title {
    margin-top: 20px;
  }

  &__box {
    width: 100%;
    height: auto;
    padding: 20px 40px;
    text-align: center;
    background-color: $color-code;
    border-radius: 4px;
    box-shadow: $shadow-md;
  }
}
