@use 'sass:color';
@use '../abstracts/variables' as *;
@use '../base/' as *;
@use '../abstracts/mixins' as *;
@use '../base/typography' as *;

.topContainer {
  padding: 100px;
}

/**
  FirstView Section
*/
.topFv {
  text-align: center;

  &__title {
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    font-size: 18rem;
    letter-spacing: 12%;
    line-height: 100%;

    @include respond-to('md') {
      font-size: 10rem;
    }

    @include respond-to('sm') {
      font-size: 9rem;
    }

    @include respond-to('xs') {
      margin-top: 20px;
      font-size: 7rem;
    }

    &--primary {
      display: block;
    }
    &--secondary {
      display: block;
    }
  }

  &__keyword {
    margin-top: 80px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row: 1fr;
    align-items: center;
    justify-content: center;
    position: relative;
    color: $color-text-secondary;
    font-size: $spacing-lg;
    letter-spacing: 11%;
    line-height: 1.5;

    @include respond-to('md') {
      margin-top: 40px;
      font-size: $font-size-sm;

      &--second {
        display: inline-block;
      }
    }

    &::before,
    &::after {
      display: block;
      content: '';
      width: calc(100% - 46px);
      max-width: 120px;
      height: 1px;
      background: $color-text-secondary;
      top: 50%;
    }

    &::before {
      text-align: right;
      margin: 0 24px 0 auto;
    }

    &::after {
      text-align: left;
      margin: 0 auto 0 24px;
    }
  }

  &__description {
    margin-top: 60px;
    color: $color-text-secondary;
    font-size: $font-size-md;

    @include respond-to('md') {
      margin-top: 35px;
      font-size: $font-size-base;
    }

    &--break {
      display: block;

      @include respond-to('md') {
        display: inline;
      }
    }
  }

  &__cta {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 42px;
    margin-top: 60px;

    @include respond-to('md') {
      margin-top: 48px;
      gap: 22px;
    }
  }

  &__scroll {
    margin-top: 48px;
    color: #fff;
    letter-spacing: 18%;

    &--line {
      margin-top: 12px;
      display: inline-block;
      width: 1px;
      height: 80px;
      background: $color-quinary;
      animation: scroll-line 2.6s ease-in-out infinite;
    }

    @keyframes scroll-line {
      0% {
        transform-origin: top;
        transform: scaleY(0);
        opacity: 0;
      }
      20% {
        transform-origin: top;
        transform: scaleY(0);
        opacity: 1;
      }
      40% {
        transform-origin: top;
        transform: scaleY(1);
        opacity: 1;
      }
      60% {
        transform-origin: bottom;
        transform: scaleY(1);
        opacity: 1;
      }
      95% {
        opacity: 0.5;
      }
      100% {
        transform-origin: bottom;
        transform: scaleY(0);
        opacity: 0;
      }
    }
  }
}

.topAnimation {
  margin-top: 140px;

  @include respond-to('md') {
    margin-top: 80px;
  }

  &__list {
    margin-top: $spacing-4xl;
    display: flex;
    flex-wrap: wrap;
    gap: 36px 24px;
    counter-reset: num;

    @include respond-to('md') {
      margin-top: 48px;
      gap: 24px 16px;
    }
  }

  &__item {
    counter-increment: num;
    width: calc(100% / 2 - 12px);

    @include respond-to('sm') {
      width: 100%;
    }

    &::after {
      display: inline-block;
      content: '#0' counter(num);
      position: absolute;
      top: 16px;
      right: 24px;
      font-size: $font-size-md;
      color: $color-text-secondary;

      @include respond-to('sm') {
        top: 10px;
        right: 14px;
        font-size: $font-size-xs;
      }
    }
  }

  &__cta {
    margin-top: 100px;
    text-align: center;

    @include respond-to('md') {
      margin-top: 60px;
    }
  }
}

.topAbout {
  padding-top: 180px;

  @include respond-to('md') {
    padding-top: 100px;
  }

  &__subTitle {
    margin-top: 80px;
    font-size: $font-size-xl;
    font-weight: $weight-bold;

    @include respond-to('md') {
      font-size: $font-size-lg;
      margin-top: 48px;
    }
  }

  &__description {
    margin-top: 32px;
    color: $color-text-secondary;
    font-size: $font-size-md;

    @include respond-to('md') {
      margin-top: 40px;
      font-size: $font-size-sm;
    }
  }

  &__concept {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 60px;
    font-size: $font-size-md;
    font-weight: $weight-bold;
    color: $color-text-secondary;

    @include respond-to('md') {
      margin-top: 38px;
      font-size: $font-size-xs;
    }

    &::before {
      margin-top: -2px;
      display: inline-block;
      content: '';
      width: 6px;
      height: 28px;
      background-color: $color-text-secondary;
      margin-right: 18px;

      @include respond-to('md') {
        width: 4px;
        height: 24px;
        margin-right: 14px;
      }
    }

    &--space {
      margin: 0 12px;
    }
  }

  &__title {
    margin-top: 100px;
    font-size: $font-size-2xl;
    font-weight: $weight-bold;
    color: $color-text-secondary;

    @include respond-to('md') {
      margin-top: 80px;
      font-size: $font-size-xl;
    }
  }

  &__tech {
    margin-top: 40px;
    width: 100%;

    @include respond-to('md') {
      margin-top: 24px;
    }

    &Item {
      padding: 18px 32px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $color-text-secondary;

      @include respond-to('md') {
        padding: 14px 10px;
      }
    }

    &Title {
      font-size: $font-size-md;
      font-weight: $weight-medium;

      @include respond-to('md') {
        font-size: $font-size-sm;
      }
    }

    &Para {
      font-size: $font-size-base;
      color: $color-text-secondary;

      @include respond-to('md') {
        font-size: $font-size-xs;
      }
    }
  }
}
