@use '../abstracts/variables' as vars;
@use '../abstracts/mixins' as mix;
@use '../base/typography' as type;
@use '../abstracts/' as *;

// フッター
.footer {
  margin-top: 80px;
  padding: 50px 0 60px;
  font-size: type.$font-size-xxs;
  color: vars.$color-text-secondary;
  text-align: center;
  border-top: 1px solid $color-quaternary;
}
