@use "sass:color";
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as mix;
@use "../base/typography" as type;
@use "../layout/index" as layout;
@use "../base/reset" as reset;

.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 70px;
  max-height: 70px;
  background: rgba(245, 245, 245, 0.7);
  border-bottom: 1px solid rgba(245, 245, 245, 0.8);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    padding: 18px 40px;
    margin: 0 auto;
  }

  &__logo {
    font-size: type.$font-size-2xl;
    transition: opacity 0.2s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }
}

.headerNav {
  &__list {
    display: flex;
  }

  &__item {
    font-size: type.$font-size-md;

    & + & {
      margin-left: 40px;
    }
  }

  a {
    transition: opacity 0.2s ease-out;

    &:hover {
      opacity: 0.7;
    }
  }
}

.text-gradient {
  color: transparent;
  background: linear-gradient(90deg, $color-primary, $color-secondary);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-accent {
  color: $color-tertiary;
}
