// Base
@use "./base" as base;

// Abstracts
@use "./abstracts" as *;

// Components
@use "./components" as components;

// Layouts
@use "./layout" as layout;

// Animations
@use "./animations" as animations;

// Pages
@use "./pages" as pages;

/* グローバルスタイル */
html {
  font-family: system-ui, sans-serif;
  font-size: 62.5%; // 1rem = 10px
  background: #f6f6f6;
  color: #444;
}

body {
  font-size: 1.6rem; // 16pxに戻す
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}
