// Base
@use "./base" as *;

// Abstracts
@use "./abstracts" as *;

// Components
@use "./components" as *;

// Layouts
@use "./layout" as *;

// Animations
@use "./animations" as *;

/* グローバルスタイル */
html {
  font-family: system-ui, sans-serif;
  font-size: 62.5%; // 1rem = 10px
  background: #f6f6f6;
  color: #444;
}
