@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.container {
  width: 100%;
  max-width: $container-max-width;
  padding: 70px $spacing-xl 80px;
  margin: 0 auto;

  @include respond-to("md") {
    padding: 70px $spacing-2xl 80px;
  }
}
