@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.container {
  width: 100%;
  max-width: $container-max-width;
  padding: $spacing-xl;
  margin: 0 auto;

  @include respond-to('md') {
    padding: $spacing-2xl;
  }
}
