---
import Layout from '../../layouts/Layout.astro';
import { gsap } from 'gsap';
import { ScrollTrigger } from 'gsap/ScrollTrigger';

gsap.registerPlugin(ScrollTrigger);

const title = 'アニメーション集 - Animezumi';
const description = '様々なアニメーションテクニックを探求し、インスピレーションあふれる表現を集めたポートフォリオAnimezumi。';

export const animations = [
	{
		title: 'Pulse Animation',
		link: '/animations/pulse',
		component: 'PulsePreview',
		description: '鼓動のようなリズミカルなアニメーション',
	},
	{
		title: 'Float Animation',
		link: '/animations/float',
		component: 'FloatPreview',
		description: '滑らかに浮遊する要素の動き',
	},
]

---

<Layout title={title} description={description}>
	<section class="animation-showcase">
		<div class="container">
			<h2 class="section-title">アニメーション作品</h2>
		</div>
	</section>
</Layout>

<style lang="scss">
	@use '../../assets/css/index.scss';
</style>